
.jumbotron {
    background-image: url("../img/jumbotron_bg.png");
    background-size: cover;
    height: 388px;
    display: flex;
    align-items: center;
    border-radius: 0 !important;
}

.jumbotron p {
    font-size: 18px;
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: #399EEF;
}

h3 {
    color: #0075BE;
    padding-bottom: 22px;
}

* {
    color: #666666;
}

.navbar-light .navbar-nav .nav-link {
    color: #666666;
    font-weight: bold;
}

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
    color: #399EEF;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #399EEF;
}

body {
    border-top: 10px solid #399EEF;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-light a.navbar-brand,
.navbar-light a.navbar-brand:hover  {
    font-size: 28px;
    color: #399EEF;
}

.navbar-brand > img {
    margin-right: 20px; 
}

.navbar {
    padding-top: 35px;
    padding-bottom: 35px;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 50px;
}

.bg-primary {
    background-color: #399EEF !important;
    color: white;
}

.bg-primary *,
.bg-dark * {
    color: white;
}

.bg-secondary {
    background-color: #EDEDF0 !important;
}

.bg-dark {
    background-color: #444444 !important;
}

.album .card {
    max-width: 355px;
    margin: auto;
}

.album img {
    margin: 10px;
    margin-bottom: 20px;
}

.album h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.album p {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.mb-2 {
    margin-bottom: 8px !important;
}

.mb-4 {
    margin-bottom: 30px !important;
}

p {
    margin-bottom: 2px;
}

.bg-white {
    background-color: white;
}

.form-group > input {
    margin-bottom: 10px;
    color: #399EEF;
}

.form-group > button {
    color: #399EEF;
    background-color: white;
}
