$font-size-base: .75rem !default; // Assumes the browser default, typically `16px`

$font-size-h1: 36px !default;
$font-size-h2: 24px !default;
$font-size-h3: 16px !default;

$jumbotron-padding: 0 !default;

$input-color: #399EEF !default;
